<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <h1 mat-dialog-title style="text-align: center;">LOGIN</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input name="UserNameString" #UserName="ngModel" [(ngModel)]="username"  matInput placeholder="Username">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input name="PassWordString" #PassWord="ngModel" [(ngModel)]="password"  matInput type="password" placeholder="Password">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button style="width: 290px" type="submit">LOGIN</button>
    <button mat-button style="width: 290px" (click)="openRegistration()">REGISTER</button>
    <button mat-button style="width: 290px" (click)="close()">CANCEL</button>
  </div>
</form>

