<app-main-menu></app-main-menu>

<body>
  <div class="homepage-background">
      <mat-grid-list cols="4" rowHeight="300px" gutterSize="0px">
          <mat-grid-tile colspan="2" rowspan="2">
            <h2>Title</h2>
          </mat-grid-tile>

          <mat-grid-tile colspan="1" rowspan="2">
          <div class="black" width="300px"></div>
          </mat-grid-tile>
          
          <mat-grid-tile colspan="1" rowspan="1">
            <img src="../assets/img/menu/Classic Burger.jpg" width="100%"/>
          </mat-grid-tile>

          <mat-grid-tile colspan="1" rowspan="1">
            <img src="../assets/img/menu/Classic Burger.jpg" width="100%"/>
          </mat-grid-tile>
    </mat-grid-list>
  </div>
</body>
<body>
  <div class="homepage-background2">
    <mat-grid-list cols="4" rowHeight="300px" gutterSize="0px">
          <mat-grid-tile colspan="2" rowspan="1">
              <img src="../assets/img/menu/Classic Burger.jpg" width="100%"/>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" rowspan="2">
            <h2>Title</h2>
          </mat-grid-tile>

          <mat-grid-tile colspan="1" rowspan="1">
            <img src="../assets/img/menu/Classic Burger.jpg" width="100%"/>
          </mat-grid-tile>

          <mat-grid-tile colspan="1" rowspan="1">
              <img src="../assets/img/menu/Classic Burger.jpg" width="100%"/>
          </mat-grid-tile>

        </mat-grid-list>
  </div>
</body>
<body>
    <div class="homepage-background3">
      <mat-grid-list cols="4" rowHeight="300px" gutterSize="0px" fxLayout="row wrap">
          <mat-grid-tile colspan="2" rowspan="2">
              <h2>Title</h2>
            </mat-grid-tile>
  
            <mat-grid-tile colspan="1" rowspan="2">
            <div class="black" width="300px"></div>
            </mat-grid-tile>
            
            <mat-grid-tile colspan="1" rowspan="1">
              <img src="../assets/img/menu/Classic Burger.jpg" width="100%" height="100%"/>
            </mat-grid-tile>
  
            <mat-grid-tile colspan="1" rowspan="1">
              <img src="../assets/img/menu/Classic Burger.jpg" />
            </mat-grid-tile>
          </mat-grid-list>
    </div>
  </body>
